<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Login</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/86ab1cd272.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/"><img src="images/logo-mercado-liebre.svg" class="logo-header"></a>
            <div>
                <form action="/" method="get">
                <input type="search" placeholder="Buscar productos, marcas"><button><i class="fas fa-search"></i></button>
                </form>
            </div>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
         <ul class="right-navbar">
                <li><a href="/registro">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>
    <form action="/" method="get" class="create-form login-form">
        <div class="control-form"><button type="reset" class="icon-button"><i class="fas fa-users"></i></button></div>
        <div class="control-form"><input type="text" name="username" placeholder="Nombre de usuario" class="control" required></div>
        <div class="control-form"><input type="password" name="password" placeholder="Contraseña" class="control" required></div>
        <div class="control-form"><button type="submit" class="send-button">Enviar</button></div>      
    </form>
    <footer>
        <section>
            <i class="fas fa-credit-card logo-foot"></i><h3><strong>Pagá con tarjeta o en efectivo</strong></h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <i class="fas fa-gift logo-foot"></i><h3><strong>Envío gratis desde $ 2.500</strong></h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <i class="fas fa-user-shield logo-foot"></i><h3><strong>Seguridad, de principio a fin</strong></h3>
            <p>C¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>

        <section>
            <p class="align-left">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>